= "Signed in as #{@user.email}"

%h1 Goals

%p Goals are things you want to accomplish

- if @goals.any?
  %h3= "You've added #{pluralize(@user.goals.count, "goal")}:"

  %ul.goals
    - @goals.each do |goal|
      = div_for goal do
        %li.goal-description= link_to "#{goal.description} (#{goal.targets.count} targets)", goal
- else
  %p
    %em You haven't made any goals yet

.actions
  = link_to "Add a goal", new_goal_path, class: "btn btn-primary"