%h1
  %i.icon-ok-circle.medium
  = @event.description

%i.icon-calendar.small
%em
  = @event.completed_at.strftime("%B")
  = @event.completed_at.strftime("%e").to_i.ordinalize
  = @event.completed_at.strftime(", %Y")

%h3
  %i.icon-screenshot.small
  = link_to @event.target.description, @event.target

%h3
  %i.icon-leaf.small
  = link_to @event.target.goal.description, @event.target.goal

- if current_user?(@event.target.goal.user)
  = link_to "Delete event", @event, method: :delete, class: "btn"